*.dbf
*.doc*
*.gddoc
*.gdsheet
*.gpkg
*.html
*.mdb
*.shp*
*.shx
*.xls*
*_files
*.gs
.DS_Store
.RData
.Renviron
.Rhistory
.Rproj.user
.Ruserdata
.httr-oauth
docs
libs
output
renv/library
data/raw/*
data/gis/*
data/gbif_occcubes/*
data/survey_experts/*
media/
